<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:transform="Replace">
    <add key="AESKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CaptchaKey" value="6Lc1ZUIUAAAAACWD09gHWiBxQm98cdmnQAf-UCNx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CaptchaServerKey" value="6Lc1ZUIUAAAAAH-USa-_zZfVqZbHvLyqoARZkCXV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    -->
    <connectionStrings xdt:transform="Replace">
      <add name="HRLeagueConnectionString1" connectionString="Data Source=LENNY2\SQLEXPRESS;Initial Catalog=DB_26597_horsedb;Integrated Security=true;"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error" xdt:Transform="Replace" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <!--These get set at deploy time-->
        <network host="localhost" port="25" userName="support@myDomainName.com" password="myPassowrd" xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>